<a href="https://colab.research.google.com/github/anisbhimani/anisbhimani.github.io/blob/main/Sudoku_Checker.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import math 
import pandas as pd

In [22]:
#Example correct answer: 
sudoku = [[5,3,4,6,7,8,9,1,2],
          [6,7,2,1,9,5,3,4,8],
          [1,9,8,3,4,2,5,6,7],
          [8,5,9,7,6,1,4,2,3],
          [4,2,6,8,5,3,7,9,1], 
          [7,1,3,9,2,4,8,5,6],
          [9,6,1,5,3,7,2,8,4],
          [2,8,7,4,1,9,6,3,5],
          [3,4,5,2,8,6,1,7,9]]

#Example incorrect answer 
sudoku2 = [[5,3,4,6,7,8,9,1,2],
          [6,7,2,1,9,5,3,4,8],
          [1,9,8,3,4,2,5,6,7],
          [8,5,9,7,6,1,4,2,3],
          [4,2,6,8,5,3,7,9,1], 
          [7,1,3,9,2,4,8,5,6],
          [9,6,1,5,3,7,2,8,4],
          [2,8,7,4,1,9,6,3,5],
          [3,4,5,2,8,6,1,7,8]]

In [4]:
#To validate that the sudoku above is incorrect, 
#let's make sure each row has exactly 1 digit betweeen 1-9 

for i in sudoku: 
  print(set(i))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
#We can also create a correct set to validate later
trueSet = {1, 2, 3, 4, 5, 6, 7, 8, 9}

#And test it along the rows
for i in sudoku: 
  print(set(i) == trueSet)

True
True
True
True
True
True
True
True
True

In [7]:
#9 unique answers in the row
#those 9 answers are 1-9 

def isRowValid(row_num): 
  return len(set(sudoku[row_num])) == 9 and set(sudoku[row_num]) == trueSet

In [9]:
#Test our new function 
isRowValid(0)

True

In [10]:
#9 unique answers in the column 

def isColValid(col_num): 
  col = []
  for j in sudoku: 
    col.append(j[col_num])
  return len(set(col)) == 9 and set(col) == trueSet

In [11]:
#Test the column function 
isColValid(0)

True

In [13]:
#3x3 section is 9 unique and adds up to 45

def isCellValid(cell_row, cell_col): 
  vals = []
  vals.extend(sudoku[cell_row][cell_col: cell_col+3])
  vals.extend(sudoku[cell_row + 1][cell_col:cell_col + 3])
  vals.extend(sudoku[cell_row + 2][cell_col:cell_col + 3])
  return len(set(vals)) == 9 and set(vals) == trueSet

In [15]:
#Test the 3x3 funciton 
isCellValid(0, 0)

True

In [17]:
#Putting all the functions together 

def validateSudoku(): 
  for i in range(9): 
    if not isRowValid(i): 
      return False
    if not isColValid(i): 
      return False
  for i in range(0, 9, 3): 
    for j in range(0, 9, 3):
      #print(i, j)
      if not isCellValid(i, j):
        return False
  return True

In [23]:
#Let's run our new function 

if validateSudoku(): 
  print("Sudoku is Valid")
else: 
  print("Sudoku is Invalid")

Sudoku is Valid

In [20]:
#Let's try it with a wrong sudoku now

sudoku = [[5,3,4,6,7,8,0,10,2],
          [6,7,2,10,0,5,3,4,8],
          [10,0,8,3,4,2,5,6,7],
          [8,5,0,7,6,10,4,2,3],
          [4,2,6,8,5,3,7,0,10], 
          [7,10,3,0,2,4,8,5,6],
          [0,6,10,5,3,7,2,8,4],
          [2,8,7,4,10,0,6,3,5],
          [3,4,5,2,8,6,10,7,0]]

In [21]:
if validateSudoku(): 
  print("Sudoku is Valid")
else: 
  print("Sudoku is Invalid")

Sudoku is Invalid

Great the sudoku checker works!